<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>/html/index.html</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>actionCoreFilter</filter-name>
        <filter-class>com.flea.market.web.filter.ActionCoreFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>actionCoreFilter</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>
    <error-page>
        <location>/html/error/404.html</location>
    </error-page>
</web-app>